.vscode*
.vscode/launch.json
ManualActions.json
ManualActions.html
*debug*
./debug/*
environ*.ps1
checklists.json
completed-checklists.json
Locations.json
.\*.json
passfolderset*.json
dest-fields.json
mapping.ps1
source-fields.json
mapping.ps1.old
cookiejar.json
tempdownloads
tempdownloads*
tempdownloads\*
relations-scoped.ps1
migrationrun.log
migrationrun.ps1
ap3x
migration-gui-settings.json
masoni
masonz
*/logs/*
*/settings/*
release/artifacts/2026*
.DS_Store
